<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.resto">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resto"
        android:usesCleartextTraffic="true" >

        <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Resto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menu / Order activity -->
        <activity android:name=".MenuActivity" />

        <!-- Chicken.kt -->
        <activity android:name=".Chicken" />

        <!-- Sides.kt -->
        <activity android:name=".Sides" />

        <!-- Pasta.kt -->
        <activity android:name=".Pasta" />

        <!-- Drinks.<activity android:name=".Drinks" />kt -->
        <activity android:name=".Drinks" />

        <activity android:name=".RecetOrder.RecentOrderActivity" />



    </application>

</manifest>
